[Unit]
Description=Runs the Datalab's kissh SSH key management script
Wants=kissh.timer

[Service]
WorkingDirectory=/srv/kissh
ExecStartPre=git reset --hard
ExecStartPre=git pull https://github.com/ebmdatalab/kissh
ExecStart=/srv/kissh/kissh apply
Type=oneshot

[Install]
WantedBy=multi-user.target
