[Unit]
Description=Run kissh service regularly
Requires=kissh.service

[Timer]
# prime number to avoid synchronisation
OnActiveSec=17m
Unit=kissh.service

[Install]
WantedBy=timers.target
