name: Run tests

on:
    push: 
        branches: [main]
    pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  tests:
    runs-on: ubuntu-22.04
    name: Run lint and tests
    steps:
    - name: Checkout main, so we have it to refer to
      uses: actions/checkout@v5
      with:
          ref: main
    - name: Checkout PR branch
      uses: actions/checkout@v5
    - name: Install test dependencies
      run: sudo apt-get install -y shellcheck podman && pip3 install black
    - name: Add black to path
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Run lint
      run: make lint
    - name: Prepare test image
      run: make kissh-test-image-ubuntu kissh-test-image-debian
    - name: Run tests
      run: make test
